.book-card {
  width: 300px;
  height: 460px;

  background-color: white;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  color: black;
}

.book-card .book-card_content {
  padding: 10px;
  width: 100%;
  height: 92%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  padding-bottom: 20px;
}

.book-card .book-card_content .wishlist-button {
  align-self: flex-start;
}

.book-card .book-card_content h2 {
  font-weight: bold;
}

.book-card .book-card_content img {
  width: 140px;
  height: 200px;
}

.book-card .book-card_content .scroll-text {
  font-size: 16px;
  overflow: hidden scroll;
  text-align: justify;
  width: 100%;
  height: 13.4%;
}

.book-card a {
  width: 100%;
  height: 8%;
  background-color: rgb(20, 18, 54);
  align-self: flex-end;

  text-align: center;
  color: white;

  border-radius: 0 0 15px 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.amazon {
  background-color: rgb(230, 122, 0);
}
