button {
  min-width: 7%;
  padding: 10px;
  max-height: 80%;

  background-color: rgb(28, 44, 61);
  color: rgb(255, 255, 255);

  font-size: 16px;

  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.button-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
