input {
  width: 315px;
  height: 104px;
  background: #ffffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 1px #171a1f, 0px 0px 2px #171a1f;
  font-size: 36px;
  font-weight: 700;
  padding: 20px;
}
