header {
  width: 1440px;
  height: 60px;

  padding-left: 85px;
  padding-right: 75px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 576px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li a {
  cursor: pointer;

  color: #4a556c;
  font-family: Kumbh Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
}
