.search-bar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: white;
  padding: 5px;
}

.search-bar input {
  width: 70%;

  border: none;
  outline: none;

  font-size: 24px;
}

.search-bar button {
  width: 30%;
}

@media (max-width: 600px) {
  .search-bar button {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0;
  }
}
